*{
    /* border:1px solid red; */
}

body > div {
  width: 50%;
  margin: 0 auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
body > div > header {
    padding:20px;
    text-align: center;
    font-size: 30px;
}
#search{
    margin:10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: orange;
    
}
#search>input{
    caret-color: orange;
    font-size: 22px; 
    padding:12px;
    background-color: transparent;
    width: 100%;
    background-color: white;
    border:3px solid orange;
}
#search>input:hover,#search>input:focus{
    outline: none;
    border:3px solid orange;
    
    

}
#search>input::placeholder{
    color:rgba(255, 166, 0, 0.5);
}
#search>button{
    border:3px solid orange;
    color: white;
    font-size: 22px; 
    padding:  12px;
    margin: none;
    background-color: orange;
    color:white;
}
#search>button:hover{
    background-color: orange;
    opacity: 0.75;
}

#lists {
  border: 3px solid orange;
}
.lst {
  display: flex;
  flex-direction: row;
}
.lst>div{
    font-size: 18px;
    padding:10px;
}
.lst>input{
    margin-left: 20px;
    font-size: 18px;
    background-color: aqua;
}
.lst>input:checked ~ div{
    text-decoration: line-through;
    color:grey;
}
@media screen and (max-width:768px) {
    body>div{
        width:90%;
    }
}